<ng-container>
  
  <!-- TOOL BAR  -->
  <app-toolbar (toggled) = "leftSidenav.toggle();"></app-toolbar>

  <mat-sidenav-container 
      class="example-container">

    <mat-sidenav 
        #leftSidenav mode="side" opened 
        class="example-sidenav">
     
        <app-left-side-bar></app-left-side-bar>

    </mat-sidenav>

    <mat-sidenav-content 
      class="sidenav-content" 
      [formGroup]="options" 
      [@onMainContentChange]="onSideNavChange ? 'open': 'close'">      
        <!-- CONTEUDO -->
        <!-- <router-outlet></router-outlet> -->

    </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- rodapé  -->
  <mat-toolbar class="example-footer">Footer</mat-toolbar>

</ng-container>