<ng-container>
  
    <!-- TOOL BAR  -->
    <app-header (toggled) = "leftSidenav.toggle();"></app-header>
  
    <mat-sidenav-container 
        class="example-container">       

      <mat-sidenav 
          #leftSidenav mode="side" opened 
          class="example-sidenav" color="warn">
       
          <app-left-side-bar></app-left-side-bar>
  
      </mat-sidenav>
  
      <mat-sidenav-content 
        class="sidenav-content"       
        [@onMainContentChange]="onSideNavChange ? 'open': 'close'">      

          <!-- CONTEUDO -->          
          <router-outlet></router-outlet>                              

      </mat-sidenav-content>
  
    </mat-sidenav-container>
  
  </ng-container>