<ng-container>
  
    <!-- TOOL BAR  -->
    <app-header (toggled) = "leftSidenav.toggle();"></app-header>
  
    <mat-sidenav-container 
        class="example-container">

      <mat-sidenav 
          #leftSidenav mode="side" opened 
          class="example-sidenav">
       
          <app-left-side-bar></app-left-side-bar>
  
      </mat-sidenav>
  
      <mat-sidenav-content 
        class="sidenav-content"       
        [@onMainContentChange]="onSideNavChange ? 'open': 'close'">      
          <!-- CONTEUDO -->
          <!-- <router-outlet></router-outlet> -->
          <div style="display: flex; flex-direction: row; justify-content: space-between;">

            <div class="content-card">

              <app-toolbar [title]="'Pendente'" [iconLeft]="'Name'"></app-toolbar>
              
              <app-card></app-card>
              
              <span class="example-spacer"></span>

            </div>

            <div class="content-card">

              <app-toolbar [title]="'Em Andamento'" [iconLeft]="'shared'"></app-toolbar>

              <app-card></app-card>

              <span class="example-spacer"></span>

              <app-card></app-card>


            </div>

            <div class="content-card">

              <app-toolbar [title]="'Concluído'" [iconLeft]="'favorite'"></app-toolbar>

              <app-card></app-card>


            </div>

          </div>
          
      </mat-sidenav-content>
  
    </mat-sidenav-container>
  
  </ng-container>