@import '../../../css/vars.scss';

.example-container {
    position: absolute;
    top: 60px;    
    left: 0;
    right: 0;    
    height: calc(100vh - 60px);
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: transparentize($primary-color, 0.5);    
  }
  
  .sidenav-content{
    padding: 1rem;    
    overflow: hidden;    

    @media #{$mq-mobile} {
      overflow-y: scroll;      
    }
  }