<div fxLayout="row" fxLayout.xs="column">
            
    <div *ngFor="let dash of data" 
          class="content-card" 
          fxFlex>

      <app-toolbar
            [title]="dash.title" 
            [iconLeft]="dash.iconLeft"
            [bgColor]="dash.bgColor"
            [color]="'#fff'"
            [count]="dash.totalRegister">
      </app-toolbar>
      
      <div class="main-card">

        <perfect-scrollbar>          

          <app-card *ngFor="let card of dash.cards" [data] = "card"></app-card>

        </perfect-scrollbar><!-- perfect-scrollbar -->

       </div><!-- main-card -->

    </div><!-- content-card -->

  </div><!-- row  -->