<div fxLayout="row" fxLayout.xs="column">
            
    <div *ngFor="let register of content" class="content-card" fxLayout="column">

      <app-toolbar
            [title]="register.title" 
            [iconLeft]="register.iconLeft"
            [bgColor]="register.bgColor"
            [color]="'#fff'"
            [count]="register.totalRegister">
      </app-toolbar>
      
      <div class="main-card">

        <perfect-scrollbar>          

          <app-card></app-card>

        </perfect-scrollbar><!-- perfect-scrollbar -->

       </div><!-- main-card -->

    </div><!-- content-card -->

  </div><!-- row  -->