.side-form {
    position: absolute;
    z-index: 100;
    top: 64px;
    right: 0;
    width: 40%;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
    border-radius: 20px 0 0px;
}