<div class="dynamic-form" fxLayout.xs="column" fxFlex fxLayout="row wrap">

    <form (ngSubmit)="onSubmit()" 
          [formGroup]="form" 
          fxFlex 
          fxLayout="row wrap"
          fxLayout.xs="column"> 
  
      <div *ngFor="let item of elements" 
            fxFlex.lg="calc(33%-25px)">          

          <app-element 
              [element]="item" 
              [form]="form">
          </app-element>        

      </div>
  
      <div fxFlex="100">

        <button mat-raised-button
              type="submit" 
              color="primary"
              [disabled]="!form.valid">Save
        </button>        
      </div>  
      
    </form>  
    
    <div fxFlex="100" *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>

  </div>