<div [formGroup]="form">

  <div [ngSwitch]="element.controlType">

    <mat-form-field 
      *ngSwitchCase="'textarea'"
      class="field-element">
      
      <mat-label>{{element.label}}</mat-label>
      <textarea matInput 
          [id]="element.key" 
          [type]="element.type" 
          [formControlName]="element.key"
          placeholder="Ex. 100 Main St">
          1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>

    <mat-form-field         
        *ngSwitchCase="'textbox'"
        class="field-element">
      <mat-label>{{element.label}}</mat-label>

      <input matInput 
        placeholder="Input" 
        [id]="element.key" 
        [type]="element.type" 
        [mask] = "element.mask"        
        [formControlName]="element.key">

    </mat-form-field>    

    <mat-form-field 
      *ngSwitchCase="'dropdown'"
      class="field-element">
      <mat-label>{{element.label}}</mat-label>
      <mat-select [formControlName]="element.key">
        <mat-option *ngFor="let opt of element.options" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <label *ngSwitchCase="'radio'" class="example-radio-label">{{element.label}}</label>
    <mat-radio-group *ngSwitchCase="'radio'" [formControlName]="element.key" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let opt of element.options" [value]="opt.value">
        {{opt.value}}
      </mat-radio-button>
    </mat-radio-group>

    <label *ngSwitchCase="'checkbox'" class="example-checkbox-labe">{{element.label}}</label>
    <mat-slide-toggle  *ngSwitchCase="'checkbox'"                          
                        class="example-checkbox-group" 
                        [formControlName]="element.key" 
                        [value]="element.value">
    </mat-slide-toggle>

  </div> 

  <div class="errorMessage" *ngIf="!isValid">{{element.label}}</div>
  
</div>