<div fxLayout="row" fxLayoutAlign="start center" class="admin-conteiner">
  
    <div  fxFlex="20" class="admin-menu">
        
        <div class="basic-field" fxflex="100">
            <perfect-scrollbar>

                <mat-accordion>
                    <mat-expansion-panel hideToggle [expanded]="'True'">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            Basic Fields
                        </mat-panel-title>                      
                      </mat-expansion-panel-header>
                      <mat-selection-list #elements [multiple]="false">
                        
                        <mat-list-option *ngFor="let element of typeOfElements" 
                            [value]="element" 
                            (click)="addNewElement(element.controlType)">
                        
                            <mat-icon mat-list-icon>{{element.icon}}</mat-icon>
                            <div mat-line>{{element.label}}</div>
                        
                        </mat-list-option>                

                      </mat-selection-list>                  
                    </mat-expansion-panel>        

                </mat-accordion>

            </perfect-scrollbar>

        </div>

    </div>
  
    <div fxFlex="80" class="admin-content">

      <!-- <perfect-scrollbar> -->

        <mat-selection-list #elementSelected [multiple]="false" class="admin-element">

          <form [formGroup]="form" >
  
            <mat-list-option *ngFor="let formElement of formElements;index as arrayPosition" [value]="formElement">  
                     
                <app-element 
                    [element]="formElement.element" 
                    [form]="form">
                </app-element> 
                
                <div class="example-button-row" 
                     *ngIf="elementSelected.selectedOptions.selected[0]?.value.id == (arrayPosition + 1)">
                  <div class="example-flex-container">
                    <div class="example-button-container">
                      <button mat-mini-fab color="primary" 
                      aria-label="Settings"
                      (click)="router.navigate(['main','admin','field', formElement.id]);">
                      <mat-icon>settings</mat-icon>
                    </button>
                  </div>              
                  <div class="example-button-container">
                    <button mat-mini-fab color="warn" 
                      aria-label="Delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-list-option>

          </form>
  
        </mat-selection-list>

      <!-- </perfect-scrollbar> -->
      
    </div>

    <div class="view-side-form">
      <router-outlet></router-outlet>
    </div>

  </div>
  