.admin-menu{
    height: 100vh;    
    padding: 0 10px 0 10px;
}

.admin-content{    
    height: 100vh;
}

.field-content{
    margin: 1rem 0;
}

// .field {
//     border-left: .5em solid rgb(0 0 0 / 24%);
//     padding: 0 0 0 .5em;
//     background-color: #fff;
//     box-sizing: initial !important;
//     height: 2.5em;
//     margin-bottom: .7em;
//     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

//     .mat-icon{
//         margin-right: .2em;
//     }
// }