.admin-menu{
    height: 100vh;    
    padding: 0 10px 0 10px;
}

.admin-content{    
    height: 100vh;

    .mat-list-item{
        height: 8em;
    }
}

.field-content{
    margin: 1rem 0;
}

.admin-element{
    width: 500px;
}

.example-button-row{
    top: 21px;
    
    position: absolute;
    right: -45px;
}