<mat-tab-group mat-align-tabs="start">
    <mat-tab label="First">
        <app-dynamic-form [elements]="elements"></app-dynamic-form>
    </mat-tab>
    <mat-tab label="Second">
        <app-dynamic-form [elements]="elements"></app-dynamic-form>
    </mat-tab>
    <mat-tab disabled>
        <ng-template mat-tab-label>
            <mat-chip-list aria-label="Color selection">
                <mat-chip [style.color]="'#fff'" [style.background-color]="'#1dbd55'">
                    Em Andamento
                </mat-chip>
            </mat-chip-list>            
        </ng-template>
    </mat-tab>
</mat-tab-group>

