<mat-toolbar color="primary">
  <button (click)="onToggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Application Name</span>
  <span class="example-spacer"></span>
  <button mat-icon-button 
    class="example-icon login-icon" 
    aria-label="Example icon-button with login icon"
    (click)="router.navigate(['/login']);">
    <mat-icon>login</mat-icon>
  </button>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>