<div fxLayout="row" fxLayoutAlign="center center">
  
  <div  fxFlex="40" class="login-wrapper">
    
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="example-form">
      
      <div fxLayout="column" fxLayoutAlign="center center">
        
        <div fxFlexFill fxLayoutAlign="center">
          <h1>LogIn</h1>
        </div>
        
        <div fxFlexFill>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Usuário</mat-label>
            <input matInput placeholder="Usuário" formControlName="user">        
          </mat-form-field>
        </div>
        
        <div fxFlexFill>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha" formControlName="pwd" type="password">        
          </mat-form-field>
        </div>
        
        <div fxFlexFill>
          
          <app-progress-bar [mode]="'indeterminate'" [style.display]="isLoading ? 'block' : 'none'"></app-progress-bar>
          
          <button 
              mat-raised-button 
              [disabled]="!loginForm.valid"
              color="primary"               
              type="submit"               
              class="btn-block">Entrar
          </button>
        </div>
        
      </div>

    </form>
    
  </div>

  <div fxFlex="60" class="login-right-image"></div>
</div>
