<div class="dynamic-form" fxLayout.xs="column" fxFlex fxLayout="row wrap">

    <form (ngSubmit)="onSubmit()" 
          [formGroup]="form" 
          fxFlex 
          fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutAlign="space-between"> 
  
      <div *ngFor="let item of elements" fxFlex="23">          
        
          <app-element 
              [element]="item" 
              [form]="form">
          </app-element>        

      </div>
  
      <div fxFlex="100" fxLayoutAlign="end">

        <button mat-raised-button
              type="submit" 
              color="primary"
              [disabled]="!form.valid">Enviar
        </button>        

        <button mat-raised-button
              type="button" 
              color="warn"
              [disabled]="!form.valid">Cancelar
        </button>        
      </div>  
      
    </form>  
    
    <div fxFlex="100" *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>

  </div>